body {
    font-size: 0.875rem;
}

.wrap {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.main-page {
    .wrap {
        display: block;
    }
}

.user-content {
    line-height: 1.5;
    font-weight: normal;

    ul {
        margin: 0 0 1.25rem;
        padding: 0;
        list-style: none;

        li {
            position: relative;
            padding: 0 0 0.1875rem 1.5625rem;

            &:before {
                content: "\e804";
                font-family: 'default_icons';
                margin-top: 0.1875rem;
                opacity: 0.6;
                position: absolute;
                left: 0;
                top: -0.1rem;
                color: @primary_color;
            }
        }
    }

    ol {
        padding-left: 1.25rem;

        li {
            margin: 0.9375rem 0;
        }
    }

    .justifyright {
        float: right;
        margin: 0 0 0.625rem 0.625rem;
    }

    .justifyleft {
        float: left;
        margin: 0 0.625rem 0.625rem 0;
    }

    .img-responsive {
        max-width: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 2rem 0 1.5rem;
    }
}

.inline-padding {
    display: inline;
    background: @primary_color;
    color: @primary_color_contrast;
    padding: 0.3em 0;

    > span {
        position: relative;
        background: @primary_color;
        left: 1.2em;
        padding: 0.3em 0;

        > span {
            position: relative;
            left: -0.6em;
            background: @primary_color;
            z-index: 1;
        }
    }
}

.blocks-container {
    display: table;
    width: 100%;

    > div {
        display: table-cell;
        vertical-align: top;
    }
}

.themed-background {
    background: @primary_color;
    color: @primary_color_contrast;
}

.parent-link a {
    display: inline-block;
    color: #333;
    margin: 1.25rem 0;

    .icon-left-arrow {
        display: inline-block;
        width: 1.875rem;
        height: 1.875rem;
        text-align: center;
        color: #fff;
        border-radius: 2px;
        margin-right: 0.625rem;
        vertical-align: middle;
        line-height: 1.875rem;
    }
}

.section {
    margin: 4rem 0;

    .to-all {
        float: right;

        a {
            text-decoration: none;
        }
    }
}

.block-title {
    font-size: 1.625rem;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 2rem;
}

.page-title {
    margin: 0 0 1.875rem;
    padding: 0;
    font-size: 2.125rem;
    line-height: 1.25;
    font-weight: normal;
}

.page-head {
    background: @head_default_background;
    padding: 2rem 0 3rem;

    .breadcrumbs {
        font-size: 0.75rem;
        margin: 0.5rem 0;
        color: inherit;
        opacity: 0.7;

        a {
            color: inherit;
            text-decoration: none;
        }

        .separator {
            color: inherit;
            margin: 0 0.3125rem;
        }
    }

    h1.page-title {
        margin: 0;
    }

    &.default {
        color: @head_default_background_contrast;

        .breadcrumbs {
            color: @head_default_background_contrast;

            .separator, a {
                color: @head_default_background_contrast;
            }
        }

        .date {
            font-size: 0.75rem;
        }
    }

    &.extended {
        background-color: #fff;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 27rem;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        padding-bottom: 4rem;

        > .container {
            width: 100%;
            position: relative;
            z-index: 1;
        }

        .page-head-content {
            transition-duration: 1.6s;
            transform: translate(0, 2rem);
            opacity: 0;

            &.animated {
                transform: none;
                opacity: 1;
            }
        }

        .user-content {
            margin-top: 2rem;
            font-weight: 300;
        }

        .image {
            position: absolute;
            bottom: 0;
            left: 3rem;
            right: 0;
            height: 100%;
            display: flex;

            > .container {
                width: 100%;
                position: relative;

                > div {
                    position: absolute;
                    left: 50%;
                    top: 0;
                    bottom: 0;
                    right: 15px;
                    background-repeat: no-repeat;
                    background-position: center bottom;
                    background-size: contain;
                }
            }
        }
    }
}

.page-content {
    background: #fff;
    margin: -5.5rem 0 0;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
    border-bottom: 1px solid #ebeef1;

    > *, .padded {
        margin: 2.5rem 3rem;

        &:blank, &:empty {
            display: none;
        }
    }

    > .full-width {
        margin: 0;
    }

    &:before {
        content: '';
        display: block;
        height: 1px;
        margin-top: -1px;
    }
}

.pagination {
    display: block;
    margin: 1.25rem 0;

    > a {
        display: inline-block;
        vertical-align: middle;
        width: 1.875rem;
        height: 1.875rem;
        border-radius: 2px;
        line-height: 1.875rem;
        text-align: center;
        color: #333;
        text-decoration: none;
    }

    > span {
        display: inline-block;
        vertical-align: middle;
        width: 1.875rem;
        height: 1.875rem;
        border-radius: 2px;
        line-height: 1.875rem;
        text-align: center;
    }

    .current {
        background: @primary_color;
        color: @primary_color_contrast;
    }
}

.page-layout {
    flex: 1 1 auto;
    padding: 3rem 0 5rem;
    background: #fafafa;

    > .container {
        > .row {
            display: flex;
            flex-wrap: wrap;

            > div {
                display: flex;

                > * {
                    min-width: 100%;
                }
            }
        }
    }
}

.page-image {
    > div {
        padding-bottom: 36.882%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (max-width: 1450px) {
    .page-head {
        &.extended {
            .image {
                > .container {
                    > div {
                        left: 45%;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .page-head {
        &.extended {
            min-height: 23rem;

            .image {
                > .container {
                    > div {
                        left: 40%;
                    }
                }
            }
        }
    }

    .page-content {
        margin-top: -4.5rem;
        
        > *, .padded {
            margin: 1.5rem 2rem;
        }
    }

    .page-layout {
        padding: 2rem 0;
    }
}

/* xs, sm, md */
@media ( max-width: 991px ) {
    html {
        font-size: 15px;
    }

    .page-head {
        margin-top: 0;
        padding-top: 1.875rem;

        &.extended {
            min-height: 0;

            .user-content {
                margin-top: 1rem;
            }

            .image {
                display: none;
            }
        }
    }
}

/* xs, sm */
@media (max-width: 767px) {
    html {
        font-size: 14px;
    }

    .animate {
        transition: none !important;
    }
}

@media (max-width: 575px) {
    .page-layout {
        padding: 0;

        > .container {
            > .row {
                > div {
                    display: block;
                }
            }
        }
    }

    .page-content {
        margin: 0 -15px;
        
        > *, .padded {
            margin: 2rem 15px 1rem;
        }
    }
}

@media (min-width: 768px) {
    .animate {
        transition: all 0.2s ease;
    }
}

@media (min-width: 1450px) {
    .container {
        max-width: 1390px;
    }
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    padding: 0.2rem 0;
    background: #fff;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
    border: 0;
    border-radius: 0;
    border-top: 2px solid @primary_color;
    font-size: 0.875rem;
    color: #333;

    > .dropdown-item {
        padding: 0.5rem 1rem;
        text-decoration: none;
        text-transform: none;
        font-weight: 300;

        &:hover {
            background: rgba(127,127,127,0.1);
            transition: background 0.2s ease;
        }

        + .dropdown-item {
            border-top: 1px solid rgba(127,127,127,0.1);
        }

        &.current {
            background: rgba(127,127,127,0.1);
        }
    }
}

.__jivoMobileButton {
    bottom: 4rem !important;
}
