.instagram-list {
    .items {
        overflow: hidden;

        > li {
            width: 20%;
            float: left;

            &:first-child {
                width: 40%;
            }
        }
    }

    .item {
        position: relative;
        padding-bottom: 100%;
        overflow: hidden;

        .image, .hidden {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100% !important;
        }

        .image {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: all 0.5s ease;
        }

        .hidden {
            background: rgba(0,0,0,0.7);
            box-shadow: 0 0 15rem rgba(0,0,0,0.8) inset;
            display: flex;
            opacity: 0;
            transition: opacity 0.5s ease;

            .hidden-content {
                width: 100%;
                text-decoration: none;
                color: #eee;
                display: block;
                transform: translate(0, 2rem);
                transition: all 0.5s ease;
            }

            .date {
                padding: 1rem 1rem 0;
                display: block;
            }

            .user-content {
                display: block;
                padding: 1rem;
                font-size: 0.75rem;
            }
        }

        &:hover {
            .image {
                transform: scale(1.05);
            }

            .hidden {
                opacity: 1;

                .hidden-content {
                    transform: none;
                }
            }
        }
    }

    li:first-child {
        .item {
            .hidden-content {
                .user-content {
                    font-size: 0.875rem;
                    line-height: 1.4;
                }
            }
        }
    }

    @media (max-width: 991px) {
        .items {
            > li {
                width: 25%;

                &:first-child {
                    width: 75%;

                    .item {
                        padding-bottom: 66.666%;
                    }
                }
            }
        }
    }

    @media (max-width: 575px) {
        .items {
            > li {
                width: 33.333% !important;

                .item {
                    padding-bottom: 100% !important;

                    .hidden-content {
                        .user-content {
                            font-size: 0.75rem !important;
                            line-height: 1.2 !important;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 400px) {
        .items {
            > li {
                width: 50% !important;
            }
        }
    }
}