.review-item {
    .image {
        margin: 0 0 1rem;

        img {
            border-radius: 50%;
            margin: 0 auto;
        }
    }

    .title {
        font-size: 1.55rem;
        font-weight: normal;
        margin: 0 0 0.75rem;

        a {
            text-decoration: none;
        }
    }

    .user-content {
        margin-top: 1rem;
    }

    @media (max-width: 543px) {
        .title, .text-muted {
            text-align: center;
        }
    }
}

.reviews-list {
    > .review-item {
        + .review-item {
            margin-top: 1rem;
            padding-top: 2rem;
            border-top: 1px solid #ebeef1;
        }
    }
}

.reviews-cycle {
    margin: 0 0 1rem;
    
    .slick-list {
        padding: 0 1px;
    }

    .review-item {
        border: 1px solid #e8e8e8;
        margin-left: -1px;
        padding: 2rem 2rem 2rem 4rem;
        width: ~"calc(100% + 1px)";

        .image {
            float: left;
            width: 4rem;
        }

        .review-head {
            margin-left: 5rem;
        }

        .title {
            font-size: 1.125rem;
            margin: 0 0 0.25rem;
        }

        .text-muted {
            font-size: 0.75rem;
        }

        .user-content {
            clear: both;
            position: relative;

            > .icon-quote {
                position: absolute;
                left: -3rem;
                font-size: 2rem;
                color: @primary_color;
            }
        }

        @media (max-width: 543px) {
            padding: 1.5rem 1rem 1rem 3rem;

            .title, .text-muted {
                text-align: left;
            }

            .user-content {
                .icon-quote {
                    left: -2.5rem;
                }
            }
        }
    }

    @supports (display: flex) {
        .slick-track {
            display: flex;
            align-items: stretch;
        }

        .slide {
            float: none !important;
            display: flex;
            height: auto !important;
        }
    }

    .slick-dots {
        text-align: center;
        margin: 1rem 0 0;
        padding: 0;
        list-style: none;

        li {
            margin: 0;
            padding: 0;
            display: inline-block;
            vertical-align: middle;

            span {
                display: block;
                padding: 0.5rem;
                cursor: pointer;

                &:before {
                    content: '';
                    display: block;
                    width: 0.5rem;
                    height: 0.5rem;
                    background: #e8e8e8;
                    border-radius: 50%;
                    transition: all 0.2s ease;
                }
            }

            &.slick-active {
                span {
                    cursor: default;

                    &:before {
                        background: @primary_color;
                    }
                }
            }
        }
    }
}
