.main-cycle {
    position: relative;
    overflow: hidden;

    .slick {
        white-space: nowrap;

        &.slick-initialized {
            height: auto;
        }
    }

    .slide-inner {
        height: 31.25rem;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;

        > .container {
            width: 100%;
            position: relative;
            z-index: 1;
            padding: 0 3rem;
        }

        .image {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            display: flex;

            > .container {
                width: 100%;
                position: relative;

                > div {
                    position: absolute;
                    left: 50%;
                    top: 0;
                    bottom: 0;
                    right: 15px;
                    background-repeat: no-repeat;
                    background-position: center bottom;
                    background-size: contain;
                }
            }
        }
    }

    .slide {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        font-size: 1.25rem;
        line-height: 1.5;
        display: inline-block;
        white-space: normal;

        .text {
            a {
                color: #333;
            }
        }

        .title {
            font-size: 2.125rem;
            font-weight: 700;
            margin: 0 0 1.5rem;
            line-height: 1.2;
        }

        .glowing {
            text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
        }

        .shadow {
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
            color: #fff;
        }

        .btn {
            margin: 1.5rem 0 3rem;
        }

        &[data-invert="1"] {
            color: #ddd;

            .text {
                a {
                    color: #ddd;
                }
            }
        }

        &.slide-simple {
            .image {
                background-position: center;
                background-size: cover;
            }
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 1.875rem;
        left: 0;
        right: 0;
        height: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;

        li {
            display: inline-block;
            vertical-align: top;

            span {
                display: block;
                padding: 0.375rem;
                cursor: pointer;

                &:before {
                    content: '';
                    display: block;
                    border: 2px solid #333;
                    border-radius: 50%;
                    background: #333;
                    width: 0.625rem;
                    height: 0.625rem;
                }
            }

            &.slick-active {
                span {
                    cursor: default;

                    &:before {
                        background: transparent;
                    }
                }
            }
        }
    }

    &.inverted {
        .slick-dots {
            li {
                span {
                    &:before {
                        border-color: #ddd;
                        background-color: #ddd;
                    }
                }

                &.slick-active {
                    span {
                        &:before {
                            background: transparent;
                        }
                    }
                }
            }
        }
    }

    .arrows {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;

        .container {
            position: relative;
        }

        .ctrl {
            position: absolute;
            z-index: 200;
            top: 50%;
            font-size: 1.5rem;
            left: 0;
            width: 3.125rem;
            color: #333;
            margin-top: -1.5625rem;
            height: 3.125rem;
            line-height: 3.125rem;
            text-decoration: none;
            text-align: center;
            transition: all 0.2s ease;
            transform: translate(-1rem, 0);
            opacity: 0;

            &.next {
                left: auto;
                right: 0;
                transform: translate(1rem, 0);
            }
        }
    }

    &.inverted {
        .arrows {
            .ctrl {
                color: rgba(255,255,255,0.6);
            }
        }
    }

    &:hover {
        .arrows {
            .ctrl {
                transform: none;
                opacity: 1;
            }
        }
    }
}

@media (max-width: 1500px) {
}

@media (max-width: 1300px) {
}

/* xs, sm, md, lg */
@media (max-width: 1200px) {
    .main-cycle {
        .slide-inner {
            height: 25rem;
        }
    }
}

/* xs, sm, md */
@media (max-width: 991px) {
    .main-cycle {
        .slide {
            font-size: 1rem;

            .title {
                font-size: 1.75rem;
                margin-bottom: 1rem;
            }

            .btn {
                margin-top: 1rem;
            }
        }

        .slide-inner {
            height: 22rem;
        }
    }
}

/* xs, sm */
@media (max-width: 767px) {
    .main-cycle {
        .slide {
            text-align: center;

            .image {
                display: none;
            }

            &.slide-simple {
                .image {
                    display: block;
                }
            }
        }
    }
}

/* xs */
@media (max-width: 575px) {
}

@media (max-width: 400px) {
}
