@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-bold.eot');
    src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold.woff2') format('woff2'),
         url('../fonts/opensans-bold.woff') format('woff'),
         url('../fonts/opensans-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-extrabold.eot');
    src: url('../fonts/opensans-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold.woff2') format('woff2'),
         url('../fonts/opensans-extrabold.woff') format('woff'),
         url('../fonts/opensans-extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff2') format('woff2'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-light.eot');
    src: url('../fonts/opensans-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light.woff2') format('woff2'),
         url('../fonts/opensans-light.woff') format('woff'),
         url('../fonts/opensans-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
} 

@font-face {
  font-family: 'default_icons';
  src:  url('../fonts/default_icons.eot?uvhi6r');
  src:  url('../fonts/default_icons.eot?uvhi6r#iefix') format('embedded-opentype'),
    url('../fonts/default_icons.ttf?uvhi6r') format('truetype'),
    url('../fonts/default_icons.woff?uvhi6r') format('woff'),
    url('../fonts/default_icons.svg?uvhi6r#default_icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'default_icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-document:before {
  content: "\e909";
}
.icon-present:before {
  content: "\e90a";
}
.icon-callback:before {
  content: "\e90c";
}
.icon-call:before {
  content: "\e90d";
}
.icon-phone:before {
  content: "\e800";
}
.icon-email:before {
  content: "\e801";
}
.icon-pencil:before {
  content: "\e802";
}
.icon-small-down-arrow:before {
  content: "\e803";
}
.icon-checked:before {
  content: "\e804";
}
.icon-search:before {
  content: "\e809";
}
.icon-small-right-arrow:before {
  content: "\e80a";
}
.icon-social-vkontakte:before {
  content: "\e80b";
}
.icon-close:before {
  content: "\e900";
}
.icon-left-arrow:before {
  content: "\e903";
}
.icon-right-arrow:before {
  content: "\e904";
}
.icon-map-pin:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\f008";
}
.icon-user:before {
  content: "\f061";
}
.icon-social-youtube:before {
  content: "\f167";
}
.icon-social-odnoklassniki:before {
  content: "\f263";
}
.icon-social-facebook:before {
  content: "\f30c";
}
.icon-social-instagram:before {
  content: "\f31e";
}
.icon-filter:before {
  content: "\e910";
}
.icon-quote:before {
  content: "\e908";
}
.icon-long-left-arrow:before {
  content: "\e90e";
}
.icon-dots-vertical:before {
  content: "\e90f";
}
.icon-dots-horizontal:before {
  content: "\e907";
}
.icon-long-right-arrow:before {
  content: "\e919";
}
.icon-small-left-arrow:before {
  content: "\e912";
}
.icon-pause:before {
  content: "\e917";
}
.icon-play:before {
  content: "\e91c";
}
.icon-attach:before {
  content: "\e913";
}
.icon-filters:before {
  content: "\e918";
}
.icon-star:before {
  content: "\e90b";
}
.icon-leave:before {
  content: "\e905";
}
.icon-social-twitter:before {
  content: "\e916";
}
.icon-social-telegram:before {
  content: "\e914";
}
.icon-add:before {
  content: "\e911";
}
.icon-subtract:before {
  content: "\e915";
}  
