.section-pain {
    .items {
        margin: 0 -0.75rem;

        > li {
            width: 25%;
            padding: 0 0.75rem;
            margin: 0 0 1.5rem;

            @media (max-width: 1200px) {
                width: 33.333%;
            }

            @media (max-width: 767px) {
                width: 50%;
            }
        }

        @media (max-width: 400px) {
            margin: 0 -0.25rem;

            > li {
                padding: 0 0.25rem;
                margin: 0 0 0.5rem;
            }
        }

        @supports (display: flex) {
            display: flex;
            flex-wrap: wrap;

            > li {
                display: flex;

                > .item {
                    width: 100%;
                }
            }
        }
    }

    .item {
        border: 1px solid #e8e8e8;
        transition: box-shadow .3s ease;

        .image {
            margin: -1px -1px 0;
            overflow: hidden;

            div {
                padding-bottom: 66.775%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                transition: all 0.4s ease;
            }
        }

        .text {
            padding: 1.5rem;
            font-weight: normal;
            line-height: 1.4;

            @media (max-width: 991px) {
                padding: 1rem;
            }

            @media (max-width: 400px) {
                padding: 0.75rem 0.5rem;
            }
        }

        &:hover {
            box-shadow: 0 0 30px rgba(0,0,0,0.05);

            .image {
                div {
                    transform: scale(1.05);
                }
            }
        }
    }
}