.head-menu { 
    > .container {
        &:before {
            content: '';
            display: block;
            border-top: 1px solid rgba(127,127,127,0.2);
            transition: border-top-color 0.2s ease;
        }
    }

    .logo {
        display: none;
    }

    .menu {
        padding: 0 2rem 0 0;
        vertical-align: middle;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            > li {
                margin: 0;
                padding: 0;
            }
        }

        > ul {
            position: relative;
            display: flex;
            justify-content: space-between;

            > li {
                display: inline-block;
                font-weight: bold;
                text-transform: uppercase;

                > a {
                    color: #333;
                    text-decoration: none;
                    display: table;
                    width: 100%;
                    padding: 1rem 2rem;
                    text-align: center;

                    &:before {
                        content: '';
                        display: inline-block;
                        height: 2rem;
                    }

                    span {
                        vertical-align: middle;
                        display: table-cell;
                    }

                    i {
                        margin-left: 0.5rem;
                    }

                    &:hover {
                        color: @primary_color;
                    }
                }

                &:hover, &.active {
                    > a {
                        color: @primary_color;
                    }
                }
            }
        }

        .submenu {
            position: absolute;
            z-index: 100;
            display: none;
            min-width: 15vw;

            ul {
                padding: 0.2rem 0;
                background: #fff;
                box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
                border-top: 2px solid @primary_color;

                li {
                    a {
                        display: block;
                        padding: 0.5rem 1rem;
                        text-decoration: none;
                        text-transform: none;
                        font-weight: 300;

                        &:hover {
                            background: rgba(127,127,127,0.1);
                            transition: background 0.2s ease;
                        }
                    }

                    + li {
                        border-top: 1px solid rgba(127,127,127,0.1);
                    }

                    &.active {
                        > a {
                            background: rgba(127,127,127,0.1);
                        }
                    }
                }
            }
        }
    }

    .toggle-search-wrap {
        vertical-align: middle;
        width: 1%;
    }

    .toggle-search {
        padding: 1rem;
        font-size: 1.5rem;
        cursor: pointer;
    }
}

.head-placeholder {
    &.static.inverted {
        .head-menu {
            > .container {
                &:before {
                    border-top-color: rgba(255,255,255,0.2);
                }
            }

            .menu {
                a {
                    color: #ccc;
                }
            }

            .submenu {
                ul {
                    background: rgba(0,0,0,0.9);
                    transition: all 0.2s ease;
                }
            }

            .toggle-search {
                color: #ccc;
            }
        }
    }
}

.side-nav {
    border: 1px solid #ebeef1;
    margin: 0 1rem 0 0;
    padding: 0;
    list-style: none;
    font-size: 0.875rem;

    li {
        line-height: 1rem;
        margin: 0;
        padding: 0;

        > a {
            border-top: 1px solid #ebeef1;
            position: relative;
            text-decoration: none;
            padding: 0.8125rem 2rem 0.875rem 1.25rem;
            display: block;

            i {
                color: #7b8e9a;
                position: absolute;
                right: 1.25rem;
                top: 50%;
                height: 1rem;
                line-height: 1rem;
                margin-top: -0.5rem;
                pointer-events: none;
            }

            &:hover, &:focus {
                background-color: rgba(0,0,0,0.04);
                color: @primary_color;
            }
        }
    }

    > li {
        &:first-child > a {
            border-top-width: 0;
        }

        &:not(.current) > a {
            color: #2f383d;
        }

        &.current, &.active {
            > a {
                border-top: 1px solid @primary_color;
                background: @primary_color;
                color: @primary_color_contrast !important;

                i {
                    color: @primary_color_contrast !important;
                }
            }

            &.child {
                > a:before {
                    top: 0.6875rem;
                }
            }
        }
    }

    .subnav {
        margin: 0;
        padding: 0.5rem 0;
        list-style: none;
        background: #fff;
        font-size: 0.75rem;
        font-weight: normal;

        li {
            padding: 0.375rem 1.25rem;

            a {
                border: 0;
                display: inline;
                padding: 0;
                color: #555;

                &:hover {
                    background: transparent;
                    color: @primary_color;
                }
            }

            &.current, &.active {
                a {
                    background: transparent;
                    color: @primary_color !important;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .head-menu {
        .menu {
            > ul {
                > li {
                    > a {
                        padding: 0.5rem;
                    }
                }
            }
        }

        .submenu {
            padding-top: 0.45rem;
        }
    }

    .side-nav {
        margin-right: 0;
    }
}

/* xs, sm, md */
@media (max-width: 991px) {
    .head-menu {
        .menu {
            font-size: 0.75rem;

            > ul {
                > li {
                    > a {
                        padding: 0.3rem;

                        &:before {
                            height: 1.5rem;
                        }
                    }
                }
            }
        }

        .toggle-search {
            padding: 0.5rem 1rem;
        }
    }
}

@media (max-width: 767px) {
    .head-placeholder {
        .head-menu {
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            height: ~"calc(100vh + 5rem)";
            padding: 0 0 5rem;
            width: 100%;
            display: none;

            .menu-overlay {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: rgba(0,0,0,0.5);
                cursor: pointer;
            }

            > .container {
                background: #fff;
                position: fixed;
                left: 0;
                top: 0;
                height: 100%;
                min-width: 20rem;
                padding: 0;
                box-shadow: 0 0 4rem rgba(0,0,0,0.2);
                overflow: hidden;
            }

            .blocks-container {
                display: block;
                transition: transform 0.4s ease;
            }

            .menu {
                display: block;
                padding: 0;

                ul {
                    display: block;
                    padding: 0;
    
                    > li {
                        display: block;
                        border-bottom: 1px solid #eee;
                        position: static;
    
                        > a {
                            display: block;
                            text-decoration: none;
                            text-align: left;
                            color: #333 !important;
                            padding: 1rem 1.5rem;
                            line-height: 1.5;

                            &:before {
                                content: none;
                            }

                            &:hover {
                                background: rgba(127,127,127,0.1);
                            }
                        }
    
                        &.category-menu-item {
                            > a {
                                position: relative;

                                i {
                                    position: absolute;
                                    right: 1rem;
                                    transform: rotate(-90deg);
                                    top: 50%;
                                    margin-top: -0.5rem;
                                    line-height: 1rem;
                                }
                            }

                            .submenu {
                                display: none;

                                ul {
                                    background: #fff;

                                    li {
                                        + li {
                                            border-top: 0;
                                        }
                                    }
                                }
                            }

                            &.active {
                                .submenu {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }

            .submenu {
                width: 100%;
                left: 100%;
                top: 0;
                padding: 0;

                ul {
                    box-shadow: none;
                    border: 0;
                }

                .previous {
                    display: block;
                    cursor: pointer;
                    padding: 0.5rem 1.5rem 0.8rem;
                    background: #f5f5f5;
                    border-bottom: 1px solid #eee;

                    .arrow {
                        font-size: 180%;
                        margin-right: 0.5rem;
                    }
                }

                .parent-link {
                    display: block;
                    cursor: pointer;
                    padding: 1rem 1.5rem;
                    background: #f9f9f9;
                    border-bottom: 1px solid #eee;
                    color: #333 !important;
                    text-decoration: none;
                    text-transform: none;
                }
            }

            .toggle-search-wrap {
                display: block;
                width: auto;
                padding-top: 1rem;
                
                .toggle-search {
                    color: #333 !important;
                    font-size: 1rem;
                    padding: 0.5rem 1.5rem;

                    i {
                        margin-right: 0.5rem;
                    }

                    span {
                        text-transform: uppercase;
                        font-size: 0.75rem;
                        font-weight: bold;
                    }
                }
            }

            .wi-group {
                padding: 0.5rem 1.5rem 0.5rem 3.2rem;
                font-weight: bold;
                font-size: 0.75rem;

                i {
                    top: 0.65rem;
                    left: 1.5rem;
                }
            }

            .socials {
                padding: 1rem 1rem;

                a {
                    text-decoration: none;
                    display: inline-block;
                    padding: 0.5rem;
                    font-size: 150%;
                    color: #333;
                }
            }
        }
    }
    
    .menu-opened {
        overflow: hidden;

        .head-menu {
            display: block;
        }
    }
}

@media (min-width: 768px) {
    .head-menu {
        .blocks-container {
            transform: none !important;
        }

        .menu {
            .submenu {
                .previous {
                    display: none;
                }
            }
        }

        .hidden-content {
            display: none;
        }
    }
}

@media (min-width: 992px) {
    .head-placeholder.fixed {
        .head-menu {
            .menu {
                font-size: 0.75rem;

                > ul {
                    > li {
                        > a {
                            padding: 0 0.5rem;
                            color: #333;

                            &:before {
                                height: 1.5rem;
                            }
                        }
                    }
                }
            }

            .submenu {
                padding-top: 1.45rem;
            }
        }
    }
}