.main-services-list {
    .items {
        margin: 0 -0.25rem -0.5rem;

        > li {
            width: 25%;
            padding: 0 0.25rem 0.5rem;

            &.large {
                width: 50%;
            }
        }
    }

    .item {
        padding-bottom: 95.625%;
        position: relative;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0.7);
            opacity: 0;
            transition: all 0.5s ease;
            z-index: 1;
        }

        a {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
        }

        .image {
            background-position: center;
            background-size: cover;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            transition: all 0.5s ease;
        }

        .info {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 5%;
            color: #fff;
            transform: translate(0,100%);
            transition: all 0.5s ease;
            z-index: 1;

            .title {
                padding: 0 0.625rem 0.625rem 0;
                font-size: 1rem;
                transition: all 0.5s ease;
                bottom: ~"calc(100% + 0.7rem)";
                left: 5%;
                right: 5%;
                position: absolute;
            }

            .intro {
                transition: all 0.5s ease;
                opacity: 0;
            }
        }

        &:hover {
            &:before {
                opacity: 1;
            }

            .image {
                transform: scale(1.05);
            }

            .info {
                transform: none;
            }

            .intro {
                opacity: 1;
            }
        }
    }

    .large {
        .item {
            padding-bottom: ~"calc(47.826% - 0.25rem)";
        }
    }

    @media (max-width: 1200px) {
        margin-top: 2rem;
    }

    @media (max-width: 767px) {
        .items {
            > li {
                width: 33.333%;

                &.large {
                    width: 66.666%;

                    &:last-child {
                        width: 100%;

                        .item {
                            padding-bottom: 31.057%;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 575px) {
        .items {
            > li {
                width: 50% !important;

                .item {
                    padding-bottom: 95.625% !important;
                }
            }
        }
    }
}