.modal {
    .modal-dialog {
        max-width: 30rem;
        width: 30rem;
    }

    .close {
        font-size: 1rem;
        line-height: 1;
        transition: opacity 0.3s ease;
        color: @primary_color;
        text-shadow: none;
        right: 1rem;
        top: 1rem
    }

    .modal-title {
        padding: 3.5rem 3.5rem 1rem;
        font-weight: normal;
        font-size: 1.75rem;
        line-height: 1;
    }

    .modal-body {
        padding: 2rem 3.5rem 3.5rem;

        .form-group {
            margin: 0 0 1.75rem;
        }
    }

    @media (max-width: 575px) {
        .modal-dialog {
            max-width: 95%;
            margin: 0;
        }

        .modal-body {
            padding-left: 7%;
            padding-right: 7%;
        }
    }

    &#response {
        .close {
            color: #000;
        }

        .modal-body {
            padding: 1.5rem 3.5rem 1.5rem 1.5rem;
        }
    }
}

