.footer {
    background: @footer_color;
    box-shadow: 0 4.375rem 3.125rem -1.25rem rgba(0,0,0,0.2) inset;
    color: darken(@footer_color_contrast, 30%);
    padding: 1.25rem 0;

    a {
        color: darken(@footer_color_contrast, 30%);
        text-decoration: none;

        &:hover {
            color: @primary_color;
        }
    }

    .copy {
        margin: 0 0 1rem;
    }

    .socials {
        margin: 0 0 1rem;

        a {
            display: inline-block;
            margin: 0.3125rem 0.5rem 0.3125rem 0;
            width: 1.9375rem;
            height: 1.9375rem;
            border: 2px solid transparent;
            text-align: center;
            line-height: 1.6875rem;
            background: rgba(255,255,255,0.2);
            border-radius: 4px;
            vertical-align: top;
            color: @footer_color_contrast;
            font-size: 1rem;
            transition: all 0.3s ease;

            &:hover {
                border-color: @primary_color;
                background: none;
            }

            &:before {
                margin: 0;
                width: auto;
            }
        }
    }

    .bottom-menu {
        margin: 0 0 1rem;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: inline-block;
                vertical-align: top;
                padding: 0 0.5rem 0.5rem 0;

                ul {
                    margin-top: 0.5rem;
                    opacity: 0.7;

                    li {
                        display: block;
                    }
                }
            }
        }

        @supports (display: flex) {
            > ul {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .wi-group {
        margin: 0 1rem 0.5rem 0;
        vertical-align: top;

        i {
            color: @primary_color;
            top: 0.2rem;
        }

        &.phone {
            a {
                color: @footer_color_contrast;
                font-size: 0.9375rem;
                font-weight: bold;
            }

            .callback {
                font-weight: normal;
                font-size: 0.875rem;
                color: @primary_color;
                border-bottom: 1px dotted @primary_color;

                &:hover {
                    color: @footer_color_contrast;
                    border-color: @footer_color_contrast;
                }
            }
        }
    }
}

.consultation {
    background: @primary_color;
    color: @primary_color_contrast;
    padding: 2.5rem 0;

    .title {
        font-size: 1.375rem;
        font-weight: bold;
        padding: 0 3.125rem 0 0;
        line-height: 1.1;
    }

    .btn {
        font-weight: bold;
        font-size: 0.875rem;
    }
}

/* xs, sm, md */
@media ( max-width: 991px ) {
    .footer {
        .wi-group {
            display: inline-block;
        }
    }
}

@media (max-width: 767px) {
    .consultation {
        .title {
            margin-bottom: 0.9375rem;
        }

        .btn {
            margin-top: 1.25rem;
        }
    }

    .footer {
        .bottom-menu {
            > ul {
                justify-content: start;

                ul {
                    display: none;
                }
            }
        }

        .copy {
            margin-top: 1rem;
        }
    }
}
