.filter {
    margin: 2.5rem 0;
    padding: 1.875rem 5%;
    
    .title {
        height: 0;
        position: relative;
        top: -3.75rem;
        text-align: center;
    }

    .block-title {
        background: #fff;
        margin: 0;
        padding: 0.625rem 1.875rem;
        display: inline-block;
    }

    .filter-option {
        padding-bottom: 1.875rem;
    }

    .filter-name {
        margin: 0 0 0.625rem;
    }

    .checks label {
        display: inline-block;
        padding-left: 1.25rem;
        position: relative;
        cursor: pointer;

        input {
            position: absolute;
            left: 0;
            top: 0.1875rem;
        }

        .fltr_count {
            color: #aaa;
            font-size: 80%;
        }
    }

    .value {
        width: 50%;
        display: inline-block;
        padding: 0 0.625rem 0 0;

        + .value {
            padding: 0 0 0 0.625rem;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                left: -5px;
                width: 0.625rem;
                border-top: 1px solid #ddd;
                top: 15px;
            }

            input {
                text-align: right;
            }
        }
    }

    .filter-slider {
        margin: 1.25rem 0 0;
        position: relative;
        cursor: pointer;
        border-radius: 0.625rem;
        height: 5px;
        background: #bbc2c8;
        padding: 0 7px;
    }

    .fltr_slider {
        border: 0;
        background: transparent;

        .ui-slider-range {
            position: absolute;
            border-radius: 0.625rem;
            background: @primary_color;
            height: 5px;
        }

        .ui-slider-handle {
            position: absolute;
            border-radius: 0.625rem;
            width: 18px;
            height: 18px;
            background: #fff;
            border: 4px solid @primary_color;
            margin: -7px 0 0 -9px;
            top: 0;
        }
    }

    .value-limits {
        margin: 0.625rem 0 2.1875rem;
        color: #888;
        font-size: 0.625rem;
    }

    &.side {
        margin: 2rem 1rem 0 0;
        padding: 0;

        .filter-option {
            margin: 0;
            padding: 1rem 1.25rem;
        }
    }

    &.main {
        .eFiltr_cat {
            display: table;
            table-layout: fixed;
            width: 100%;

            > div {
                display: table-cell;
                vertical-align: top;
                padding: 0 2% 2rem;
            }
        }
    }
}

.filter-side-buttons {
    padding: 7%;

    .btn {
        padding: 0.4em 0.7em;
        font-size: 0.75rem;
    }
}

@media (max-width: 767px) {
    .fixed-filters-overlay {
        position: fixed;
        z-index: 998;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0,0,0,0.5);
        cursor: pointer;
        display: none;
    }

    .fixed-filters {
        position: fixed;
        right: 100%;
        top: 0;
        height: 100%;
        max-width: 260px;
        z-index: 999;
        background: #fff;
        border-right: 2px solid @primary_color;

        .filters-scrollable {
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 100%;
        }

        .filter.side {
            margin: 0;
        }
    }

    .toggle-fixed-filters {
        position: absolute;
        left: 100%;
        top: 30%;
        padding: 0.5rem;
        font-size: 150%;
        border: 1px solid @primary_color;
        border-width: 2px 2px 2px 0;
        border-radius: 0 4px 4px 0;
        background: #fff;
        cursor: pointer;
        height: 3.25rem;
        width: 3rem;
        text-align: center;
    }

    .fixed-filters-opened {
        overflow: hidden;

        .fixed-filters {
            left: 0;
            right: auto;
        }

        .fixed-filters-overlay {
            display: block;
        }
    }

    .menu-opened {
        .fixed-filters {
            display: none;
        }
    }
}

/* xs */
@media (max-width: 575px) {
    .filter.main {
        .eFiltr_cat {
            display: block;

            > div {
                display: block;
            }
        }
    }
}