.head {
    padding: 0.5rem 0 0.5rem;
    transition: all 0.2s ease;

    .left-block, .right-block {
        vertical-align: middle;
        max-width: 50%;
    }

    .right-block {
        text-align: right;
    }

    .toggle-menu {
        vertical-align: middle;
        font-size: 1.8rem;
        padding: 0.5rem 1.5rem 0.5rem 0.2rem;
        cursor: pointer;
    }

    .logo {
        > a {
            display: inline-block;
            position: relative;

            * {
                max-height: 4.375rem;
                max-width: 100%;
                display: block;
                fill: @primary_color;
                transition: fill, opacity 0.2s ease;
            }

            .white {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
            }
        }
    }

    .text {
        color: #777;
        padding: 0 0 0 1rem;
        vertical-align: middle;
        transition: color 0.2s ease;
    }

    .contacts {
        text-align: center;
        vertical-align: middle;

        .blocks-container {
            > div {
                vertical-align: middle;
            }
        }

        .wi-group {
            margin: 0 1.25rem;
            display: inline-block;
            vertical-align: top;
            color: #333;
            transition: color 0.2s ease;
            white-space: nowrap;
            text-align: left;

            a {
                color: #333;
                text-decoration: none;
            }

            i {
                color: @primary_color;
                font-size: 1.375rem;
                top: 50%;
                margin-top: -0.75rem;
                transition: color 0.2s ease;
            }
        }

        .phone {
            .wi-group {
                font-size: 1rem;
                font-weight: bold;

                i {
                    left: 0.15rem;
                }
            }
        }

        .dropdown-toggle {
            white-space: nowrap;

            > span {
                display: inline-block;
                vertical-align: middle;
                white-space: normal;
            }
        }
    }

    .callback {
        border-radius: 3.125rem;
        margin: 0.3125rem 0 0;
        font-size: 0.75rem;
        vertical-align: middle;

        .btn {
            transition: color, border-color, background-color 0.2s ease;
        }
    }
}

.head-placeholder {
    &.inverted {
        .head {
            .toggle-menu {
                color: #ddd;
            }

            .logo {
                > a {
                    * {
                        fill: #ddd;
                    }

                    .colored {
                        opacity: 0;
                    }

                    .white {
                        opacity: 1;
                    }
                }
            }

            .text {
                color: #ccc;
            }

            .contacts {
                .wi-group {
                    color: #ccc;

                    a, i {
                        color: #ccc;
                    }
                }
            }

            .callback {
                .btn {
                    color: #ccc;
                    border-color: #ccc;

                    &:hover {
                        color: #333;
                        background: rgba(255,255,255,0.4);
                    }
                }
            }
        }
    }
}

.main-page {
    .head-placeholder {
        position: relative;
        z-index: 1;

        &.loaded {
            height: 0;
        }
    }
}

.search-wrap {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: -10rem;
    right: 0;
    background: #fff;
    box-shadow: 0 0 2rem rgba(0,0,0,0.3);
    padding: 1.5rem 0;
    transition: top 0.3s ease;

    .toggle-search {
        cursor: pointer;
        width: 2rem;
        vertical-align: middle;
        padding: 0 1rem;
        font-size: 1.5rem;
    }

    .form {
        .form-control {
            display: inline-block;
        }

        button {
            padding: 0;
            margin: 0 0 0 -3rem;
            border: 0;
            width: 3rem;
            vertical-align: middle;
            font-size: 1.3rem;
            background: none;
            cursor: pointer;
            opacity: 0.3;
        }
    }
}

.search-opened {
    .search-wrap {
        top: 0;
    }
}

@media (max-width: 1200px) {
    .head {
        .text {
            font-size: 0.75rem;
        }

        .contacts {
            text-align: center;

            .blocks-container {
                display: inline-block;
                text-align: left;

                > div {
                    display: block;
                    text-align: left;
                    white-space: nowrap;
                }
            }

            .wi-group {
                margin: 0.2rem 1.5rem;
            }
        }
    }
}

@media ( max-width: 991px ) {
    .head {
        .contacts {
            .wi-group {
                i {
                    margin-top: -0.65rem;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .head-placeholder {
        position: relative;
        z-index: 100 !important;
    }

    .head {
        .contacts {
            .address {
                display: none !important;
            }
        }
    }
}

/* xs */
@media (max-width: 575px) {
    .head {
        .logo > a * {
            max-width: 95%;
        }

        .right-block {
            padding-left: 1rem;

            > .blocks-container {
                display: block;

                > div {
                    display: block;
                }
            }
        }

        .contacts {
            .blocks-container {
                .phone {
                    text-align: right;
                    font-size: 1.125rem;

                    .wi-group {
                        margin: 0;
                    }
                }
            }
        }

        .callback {
            margin-top: 0.25rem;
        }
    }
}

@media (max-width: 400px) {
    .head {
        .toggle-menu {
            padding-right: 1rem;
        }

        .contacts {
            .phone {
                .wi-group {
                    font-size: 0.875rem;
                }
            }
        }

        .callback {
            margin-top: 0.125rem;

            .btn {
                padding: 0.3rem 0.6rem;
                font-size: 0.625rem;
            }
        }
    }
}

/* lg, xl */
@media ( min-width: 992px ) {
    .head-placeholder.fixed {
        position: relative;
        z-index: 1000;

        .head-menu {
            position: fixed;
            width: 100%;
            background: #fff;
            z-index: 8800;
            top: 0;
            left: 0;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            padding: 0.625rem 0;

            .container {
                position: relative;

                &:before {
                    content: none;
                }
            }

            .logo {
                display: table-cell;
                padding-right: 1rem;
                vertical-align: middle;
                width: 1%;

                > a * {
                    height: 3.125rem;
                    margin: 0;
                }
            }

            .toggle-search {
                padding: 0.2rem 1rem;
                color: #333 !important;

                i:before {
                    vertical-align: top;
                    position: relative;
                    top: 0.2rem;
                }
            }
        }
    }
}
