.contacts-page {
    .map {
        position: relative;
        padding-bottom: 30rem;

        > * {
            position: absolute;
            left: 0;
            top: 0;
            width: 100% !important;
            height: 100% !important;
        }
    }

    .wi-group {
        word-break: break-word;
    }

    .left-column {
        .wi-group {
            margin: 0 0 2rem;
            min-height: 2.4rem;
            padding-left: 3.2rem;
            font-weight: normal;

            i {
                background: @primary_color;
                color: @primary_color_contrast;
                width: 2.4rem;
                height: 2.4rem;
                border-radius: 50%;
                line-height: 2.4rem;
                text-align: center;
            }

            strong {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 85%;
            }
        }
    }

    .contact-groups {
        .items {
            margin: 0 -0.5rem -1rem;

            > li {
                width: 33.333%;
                padding: 0 0.5rem 1rem;
            }

            @media (max-width: 450px) {
                > li {
                    width: 50%;
                }
            }
        }
    }

    @media (min-width: 768px) {
        .page-content {
            display: flex;
            flex-direction: column;
        }

        .map {
            padding-bottom: 0;
            min-height: 30rem;
            flex: 1 1 auto;
        }
    }
}
