.catalog-control {
    .form-control {
        padding: 0 0.5rem;
    }
}

.categories {
    .item {
        padding-bottom: 74.286%;
        position: relative;
        overflow: hidden;
        margin: 0 0 1.25rem;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0.7);
            opacity: 0;
            transition: all 0.5s ease;
            z-index: 1;
        }

        a {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
        }

        .image {
            background-position: center;
            background-size: cover;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            transition: all 0.5s ease;
        }

        .info {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 5%;
            color: #fff;
            transform: translate(0,100%);
            transition: all 0.5s ease;
            z-index: 1;

            .title {
                padding: 0 0.625rem 0.625rem 0;
                font-size: 1.25rem;
                transition: all 0.5s ease;
                bottom: ~"calc(100% + 0.7rem)";
                left: 5%;
                right: 5%;
                position: absolute;
            }

            .intro {
                transition: all 0.5s ease;
                opacity: 0;
            }
        }

        &:hover {
            &:before {
                opacity: 1;
            }

            .image {
                transform: scale(1.05);
            }

            .info {
                transform: none;
            }

            .intro {
                opacity: 1;
            }
        }
    }
}

.main-page .categories {
    margin-top: 2.5rem;
}

.categories-template2 {
    padding: 3rem 0 1rem;

    .item {
        margin: 0 0 2rem;
        overflow: hidden;

        .image {
            float: left;
            max-width: 28.575%;
        }

        .info {
            margin-left: 34%;

            .title {
                font-size: 1.25rem;
                margin: 0 0 1rem;

                a {
                    text-decoration: none;
                    color: @primary_color;
                }
            }
        }
    }
}

.categories-template3 {
    .items {
        padding: 1px 0 0 1px;

        > li {
            width: 50%;
        }
    }

    .item {
        border: 1px solid #e7e8ea;
        margin: -1px 0 0 -1px;
        padding: 2rem;
        transition: all 0.2s ease;

        overflow: hidden;

        .image {
            float: left;
            max-width: 24.515%;
        }

        .info {
            margin-left: 30%;

            a {
                text-decoration: none;
                color: @primary_color;

                &:hover {
                    color: @primary_color_hover;
                }
            }

            .title {
                font-size: 1.25rem;
                margin: 0 0 1rem;
            }

            .children {
                margin: -0.3rem 0 0.6rem;
                font-size: 0.75rem;
                font-weight: normal;

                a {
                    margin: 0 1rem 0.3rem 0;
                    display: inline-block;
                }
            }
        }

        &:hover {
            box-shadow: 0 0 2rem rgba(0,0,0,0.06);
        }
    }

    @supports (display: flex) {
        .items {
            display: flex;
            flex-wrap: wrap;

            > li {
                display: flex;
                flex-direction: column;
            }
        }

        .item {
            width: ~"calc(100% + 1px)";
            flex: 1 1 auto;
        }
    }

    @media (max-width: 767px) {
        .items {
            > li {
                width: 100%;
            }
        }
    }

    @media (max-width: 400px) {
        .item {
            padding: 1rem;
        }
    }
}

.page-content {
    .categories-template3 {
        @media (max-width: 992px) {
            .items {
                > li {
                    width: 100%;
                }
            }
        }
    }
}

.product-card {
    .images-cycle {
        margin: 0 0 1.5rem;

        .images {
            position: relative;

            .slide {
                a {
                    display: block;
                    padding-bottom: 55%;
                    background-position: center;
                    background-size: cover;
                    background-color: #fff;
                    background-repeat: no-repeat;
                }
            }

            .ctrl {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 20%;
                z-index: 1;

                i {
                    position: absolute;
                    left: 0.625rem;
                    top: 50%;
                    line-height: 2.5rem;
                    margin-top: -1.25rem;
                    color: #fff;
                    font-size: 1.25rem;
                    opacity: 0.5;
                    transition: all 0.3s ease;
                }

                &.next {
                    left: 80%;
                    right: 0;

                    i {
                        left: auto;
                        right: 0.625rem;
                    }
                }

                &:hover {
                    i {
                        opacity: 0.8;
                    }
                }
            }
        }

        .thumbs {
            .slide {
                cursor: pointer;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0,0,0,0.3);
                    transition: all 0.3s ease;
                }

                &.slick-current:after, &:hover:after {
                    display: none;
                }

                @supports (opacity: 0) {
                    &.slick-current:after, &:hover:after {
                        display: block;
                        opacity: 0;
                    }
                }

                div {
                    padding-bottom: 63%;
                    background-position: center;
                    background-size: cover;
                }

                &:first-child:last-child {
                    display: none !important;
                }
            }
        }
    }

    .info {
        .area {
            display: inline-block;
            vertical-align: top;
            margin: 0 1.25rem 0.625rem 0;
            border-radius: 2px;
            padding: 0.5rem 0.9375rem;
            color: @primary_color_contrast;
            font-size: 1.5625rem;
        }

        .price {
            display: inline-block;
            vertical-align: top;
            padding: 0.5rem 0;

            &.with-old-price {
                padding: 0;
            }

            > .value {
                font-size: 1.625rem;
                color: @primary_color;
                font-weight: 600;
                line-height: 1;
            }

            .old-price {
                color: #666;
                font-size: 0.8125rem;
                margin: 0.3125rem 0 0;

                .value {
                    text-decoration: line-through;
                }
            }
        }

        .user-content {
            margin: 1.875rem 0;
        }

        .buttons {
            margin: 1.875rem 0 1.25rem;

            .btn {
                margin-bottom: 0.625rem;
            }
        }
    }
}

.product-page {
    .page-title .small {
        font-size: 0.75rem;
        color: #777;
        margin-top: 0.3125rem;
    }

    .block-title {
        margin: 0 0 1.25rem;
    }

    hr {
        margin: 2.5rem 0;
    }

    .prints {
        .items {
            margin: 0 -0.9375rem;

            li {
                width: 33.333%;
                padding: 0 0.9375rem 1.875rem;

                a {
                    position: relative;
                    display: block;
                    padding-bottom: 100%;
                    border: 1px solid #e8e8e8;
                    border-radius: 2px;

                    .image {
                        position: absolute;
                        left: 10%;
                        top: 10%;
                        bottom: 10%;
                        right: 10%;
                        text-align: center;

                        &:before {
                            content: '';
                            display: inline-block;
                            width: 0;
                            height: 100%;
                            vertical-align: middle;
                        }

                        img {
                            vertical-align: middle;
                            max-width: 95%;
                            max-height: 95%;
                        }
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        background: url(../images/zoom.png) center no-repeat rgba(0,0,0,0.1);
                        z-index: 1;
                        display: none;
                    }

                    &:hover:after {
                        display: block;
                    }

                    @supports (opacity: 0) {
                        &:after {
                            display: block;
                            opacity: 0;
                            transition: all 0.3s ease;
                        }

                        &:hover:after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .attributes {
        margin: 0 0 1.25rem;

        table {
            width: 100%;

            td {
                border-bottom: 1px dotted #aaa;
                padding: 0.3125rem 0 0;

                span {
                    background: #fff;
                    display: inline-block;
                    padding: 0.4375rem 0.625rem 1px 0;
                    margin-bottom: -1px;
                }

                + td {
                    text-align: right;

                    span {
                        padding-left: 0.625rem;
                    }
                }
            }
        }
    }
}

.products-list {
    .items {
        margin: 0 -0.7%;

        .slide {
            width: 33.3333%;
            padding: 0 0.7% 1.4%;
            display: inline-block;
            vertical-align: top;
        }
    }

    .item {
        position: relative;
        background: #fff;
        box-shadow: 0 0 0 1px rgba(0,0,0,0.08);
        transition: all 0.3s ease;

        .image {
            display: block;
            padding-bottom: 74%;
            position: relative;
            overflow: hidden;

            span {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                transition: all 0.5s ease;
            }
        }

        .info {
            padding: 1.25rem 7% 0.625rem;

            .title {
                margin-bottom: 0.5rem;
                min-height: 3.375rem;

                a {
                    font-size: 0.9375rem;
                    color: #333;
                    text-decoration: none;

                    &:hover {
                        color: @primary_color;
                    }
                }
            }

            .user-content {
                margin-bottom: 1rem;
            }

            .category {
                color: #777;
                margin: 0 0 0.9375rem;
            }

            .price {
                background: @primary_color;
                display: inline-block;
                vertical-align: top;
                margin: 0 1.25rem 0.625rem 0;
                border-radius: 2px;
                padding: 0.5rem 0.9375rem;
                color: @primary_color_contrast;
                font-size: 0.9375rem;
            }

            .old-price {
                display: inline-block;
                vertical-align: middle;
                text-decoration: line-through;
                font-size: 0.75rem;
            }
        }

        .labels {
            position: absolute;
            left: 0;
            top: 0;
            padding: 0.5rem;
            pointer-events: none;

            span {
                background: rgba(255,255,255,0.8);
                white-space: nowrap;
                margin: 0 0.5rem 0 0;
                padding: 0.2rem 0.5rem;
                font-size: 0.5rem;
                font-weight: bold;
                text-transform: uppercase;
                display: inline-block;
                border-radius: 2px;
                color: #fff;
            }

            .label1 {
                background: rgba(14, 137, 215, 0.8);
            }

            .label2 {
                background: rgba(39, 173, 105, 0.8);
            }

            .label3 {
                background: rgba(222, 0, 43, 0.8);
            }

            .label4 {
                background: rgba(245, 164, 0, 0.8);
            }
        }

        &:hover {
            box-shadow: 0 0 1.5rem 0 rgba(0,0,0,0.15);

            .image span {
                transform: scale(1.05);
            }
        }
    }

    .pagination {
        margin: 0 1.7%;
    }

    @supports (display: flex) {
        .items {
            display: flex;
            flex-wrap: wrap;

            .slide {
                display: flex;

                > .item {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 auto;
                    align-items: start;

                    .user-content {
                        flex: 1 1 auto;
                    }
                }
            }
        }
    }
}

.products-cycle {
    margin: 2.5rem 0 0;
    position: relative;

    .products-list {
        .items {
            margin: 0 -0.25rem;
        }

        .slide {
            width: 25%;
            padding: 0 0.25rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

    .ctrl {
        position: absolute;
        left: 0;
        z-index: 1;
        top: 4.0625rem;
        color: #fff;
        padding: 0.9375rem;
        font-size: 1.25rem;
        opacity: 0.5;
        text-decoration: none;

        &.next {
            left: auto;
            right: 0;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    @supports (display: flex) {
        .products-list {
            .slick-track {
                display: flex;
            }

            .slide {
                float: none;
                height: auto;
            }
        }
    }
}

/* xs, sm, md */
@media ( max-width: 991px ) {
    .products-list .items .slide {
        width: 50%;
    }
}

/* xs, sm */
@media (max-width: 767px) {
    .product-card .info {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }
}

/* xs */
@media (max-width: 575px) {
    .product-card .images .pager {
        display: none;
    }

    .product-page .prints .items li {
        width: 50%;
    }
}

@media (max-width: 400px) {
    .products-list .items .slide {
        width: 100%;
    }
}

.product-features {
    .items {
        margin: 0 -0.5rem -1rem;

        > li {
            padding: 0 0.5rem 1rem;
            width: 33.333%;
        }
    }

    .image {
        max-width: 60px;
        float: left;

        img {
            max-width: 100%;
            max-height: 200px;
        }
    }

    .feature-card {
        display: block;
        font-size: 0.75rem;
        width: ~"calc(100% - 70px)";
        margin-left: auto;

        .title {
            color: @primary_color;
            margin: 0 0 0.5rem;
            font-weight: bold;
        }
    }

    @media (max-width: 1200px) {
        .image {
            margin: 0 auto 1rem;
            height: 60px;
            float: none;
            display: block;
            line-height: 60px;
            text-align: center;

            img {
                max-height: 100%;
            }
        }

        .feature-card {
            width: auto;
            text-align: center;
        }
    }

    @media (max-width: 575px) {
        .image {
            height: 40px;
            line-height: 40px;
        }
    }
}
