body {
    font-weight: 300;
}

.company-features {
    .col-md-4 {
        overflow: hidden;
    }

    img {
        float: left;
        width: 6.25rem;
        border-radius: 50%;
        display: block;
        margin: 0 auto 1.25rem;
    }

    .feature-card {
        margin: 0 0 1.25rem 7.5rem;

        .title {
            color: @primary_color;
            font-size: 1.25rem;
            margin: 0 0 0.625rem;
        }
    }
}

.main-page .about {
    .block-title {
        margin-bottom: 2rem;
    }

    img {
        border-radius: 50%;
    }

    .props {
        .animate {
            font-size: 4.5rem;
            line-height: 5.875rem;
            color: @primary_color;
        }

        .text {
            padding: 0 3.125rem 1rem 0;
            position: relative;
            margin: 0 0 1.25rem;

            &:after {
                position: absolute;
                content: ' ';
                width: 1.875rem;
                height: 1px;
                bottom: 0;
                opacity: 1;
                background: #d4d4d4;
                z-index: 3;
                left: 0;
            }
        }
    }
}

.materials-list {
    .item {
        margin: 0 0 1.875rem;

        .title {
            font-weight: normal;
            font-size: 1.25rem;
            margin: 0 0 0.75rem;
            line-height: 1.1;

            a {
                color: @primary_color;
                text-decoration: none;

                &:hover {
                    color: #333;
                }
            }
        }

        .date {
            margin: 0 0 0.625rem;

            span {
                display: inline-block;
                background: @primary_color;
                color: @primary_color_contrast;
                padding: 0.1875rem 0.375rem;
                border-radius: 1px;
                font-size: 0.75rem;
            }
        }

        .intro {
            margin: 0 0 1rem;
        }

        .btn {
            font-size: 0.75rem;
        }
    }
}


.news-page {
    .date {
        margin: 0 0 0.625rem;

        span {
            display: inline-block;
            background: @primary_color;
            color: @primary_color_contrast;
            padding: 0.1875rem 0.375rem;
            border-radius: 1px;
            font-size: 0.75rem;
        }
    }
}

.news-footer {
    clear: both;
    padding: 1.25rem 0 0;

    .back {
        line-height: 1.875rem;
        color: #333;
        margin-bottom: 0.9375rem;
        display: inline-block;

        i {
            display: inline-block;
            width: 1.875rem;
            height: 1.875rem;
            background: @primary_color;
            text-align: center;
            color: @primary_color_contrast;
            border-radius: 2px;
            margin-right: 0.625rem;
        }
    }
}

.gallery {
    .items {
        margin: 0 -0.325rem;

        li {
            width: 33.333%;
            padding: 0 0.325rem;
            margin: 0 0 0.65rem;

            a {
                display: block;
                color: #333;
                text-decoration: none;

                .text {
                    display: block;
                    padding: 0.5rem 0.3125rem 0;
                }

                .image {
                    display: block;
                    padding-bottom: 64.64%;
                    position: relative;
                    background-size: cover;
                    background-position: center;

                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        background: url(../images/zoom.png) center no-repeat rgba(0,0,0,0.2);
                        z-index: 1;
                        display: none;
                    }
                }

                &:hover {
                    .imager:after {
                        display: block;
                    }
                }
            }
        }
    }

    &.format1 {
        .items {
            li {
                width: 33.333%;

                a {
                    .image {
                        padding-bottom: 124.64%;
                        background-size: contain;
                    }
                }
            }
        }
    }
}

@supports (opacity: 0) {
    .gallery .items li {
        a {
            .image:after {
                display: block;
                opacity: 0;
                transition: all 0.3s ease;
            }
            
            &:hover .image:after {
                opacity: 1;
            }
        }
    }
}

.partners {
    .slick {
        padding: 0 3rem;
        position: relative;

        .ctrl {
            position: absolute;
            left: 0;
            top: 50%;
            font-size: 1.5rem;
            line-height: 3rem;
            height: 3rem;
            width: 3rem;
            text-align: center;
            margin-top: -1.5rem;
            text-decoration: none;
            color: #333;

            &.next {
                left: auto;
                right: 0;
            }
        }

        .slide {
            height: 6.25rem;
            white-space: nowrap;
            text-align: center; 
            padding: 0 0.5rem;

            &:before {
                content: '';
                width: 0;
                height: 6.25rem;
                vertical-align: middle;
                display: inline-block;
            }

            img {
                vertical-align: middle;
                display: inline-block;
                max-width: 100%;
            }
        }
    }
}

.service-footer {
    margin: 2rem 0 0;
    background: #f7f7f8;
    border: 1px solid #edf0f2;
    overflow: hidden;
    padding: 1.5rem 3rem;

    .blocks-container {
        > * {
            vertical-align: middle;
        }
    }

    .description {
        padding-left: 2rem;
    }

    @media (max-width: 1200px) {
        padding: 1.5rem 2rem;
    }

    @media (max-width: 575px) {
        padding: 1.5rem 15px;

        .blocks-container {
            display: block;

            > * {
                display: block;
            }
        }

        .description {
            padding: 1rem 0 0;
        }
    }
}


/* xs, sm, md */
@media ( max-width: 991px ) {
    .gallery .items li a .text {
        font-size: 0.7rem;
    }
}

/* xs, sm */
@media (max-width: 767px) {
    .gallery .items li {
        width: 33.333%;
    }
}

/* xs */
@media (max-width: 575px) {
    .main-page {
        .filter .block-title {
            padding: 0.625rem 0;
        }

        .about img {
            margin: 0 auto 1.25rem;
        }
    }

    .news-page .page-image {
        margin-right: 0;
        width: 100%;
    }

    .gallery, .gallery.format1 {
        .items li {
            width: 50%;
        }
    }

    .partners {
        padding: 3% 0;
    }
}

@media (max-width: 400px) {
    .gallery .items li {
        width: 100%;
    }
}

/* md, lg, xl */
@media ( min-width: 768px ) {
    .company-features {
        img {
            float: none;
        }

        .feature-card {
            margin-left: 0;
            text-align: center;
        }
    }
}

/* lg, xl */
@media ( min-width: 992px ) {
    .company-features {
        img {
            float: left;
        }

        .feature-card {
            margin-left: 7.5rem;
            text-align: left;
        }
    }
}



