.form-content {
    border-radius: 2px;
    border: 1px solid #e7e7e7;

    .form-title {
        padding: 2rem;
        line-height: 1;
        margin: -2rem -2rem 2rem;
    }

    .policy-note {
        font-size: 0.7rem;
        margin-top: 1rem;
        color: #777;
    }
}

.form-group {
    &.wi {
        position: relative;

        .form-control {
            padding-right: 1.875rem;

            &:focus + i,
            &:hover + i {
                opacity: 0.7;
            }
        }

        i {
            position: absolute;
            right: 0;
            width: 2.5rem;
            text-align: center;
            top: 50%;
            line-height: 2rem;
            height: 2rem;
            margin-top: -1rem;
            opacity: 0.3;
            transition: all 0.3s ease;
            pointer-events: none;
        }

        textarea.form-control + i {
            margin-top: 0;
            top: 0.4rem;
        }
    }

    &.float-label {
        position: relative;

        label {
            position: absolute;
            left: 0;
            white-space: nowrap;
            max-width: 100%;
            overflow: hidden;
            top: 0;
            height: 3rem;
            margin: 0;
            cursor: text;
            pointer-events: none;
            display: flex;
            align-items: center;
            color: #777;
            transition: all 0.2s ease;

            > span {
                margin: 0 0.4rem;
                padding: 0 0.4rem;
                background: #fff;
            }

            .required {
                color: red;
            }
        }

        &.input-filled {
            label {
                top: -0.5rem;
                height: 1rem;
                line-height: 1rem;
                font-size: 0.75rem
            }
        }
    }
}

input.form-control,
select.form-control,
textarea.form-control {
    height: 3rem;
    padding: ~"calc(1rem - 1px)" 0.8rem;
    border-radius: 2px;
    font: @primary_font_size/1.2 @primary_font;
    font-size: 0.875rem;
    transition: all 0.3s ease;
}

textarea.form-control {
    height: 6.25rem !important;
    resize: vertical;
    padding: ~"calc(1rem - 1px)" 0.8rem;
}

.form-control:focus,
.form-control:hover {
    border-color: #777;
}


.btn {
    border-width: 2px;
    text-transform: uppercase;
    font-size: 0.875rem;
    box-shadow: none !important;
    text-decoration: none;

    &.btn-hollow-theme {
        background: none;
        border-color: @buttons_color;
        color: @buttons_color;

        &:hover {
            background: @buttons_color;
            color: @buttons_color_contrast;
        }
    }

    &.btn-hollow-white {
        background: none;
        border-color: #fff;
        color: @buttons_color_contrast;

        &:hover {
            background: #fff;
            color: @buttons_color;
        }
    }

    &.btn-theme {
        background: @buttons_color;
        border-color: @buttons_color;
        color: @buttons_color_contrast;

        &:hover {
            background: @buttons_color;
            border-color: @buttons_color;
        }
    }
}

.policy-note {
    font-size: 0.875rem;
    color: #555;

    label {
        position: relative;
        margin: 0;
        padding-left: 1.25rem;

        input {
            position: absolute;
            left: 0;
            top: 0.2em;
        }
    }
}
