.employees {
    h3 {
        margin: 0 0 2rem;
    }

    .employees-division {
        + .employees-division {
            margin-top: 2rem;
        }
    }

    ul.items {
        margin-right: -3px;
        margin-bottom: 3rem;

        li {
            width: 33.333%;
            margin: 0 -1px -1px 0;

            @media (max-width: 1200px) {
                width: 50%;
            }

            @media (max-width: 400px) {
                width: 100%;
            }
        }
    }

    @supports (display: flex) {
        ul.items {
            display: flex;
            flex-wrap: wrap;

            li {
                display: flex;
            }
        }
    }
}

.employee-item {
    border: 1px solid #f2f2f2;
    transition: box-shadow .3s ease;
    padding: 2rem 1rem;
    text-align: center;
    width: 100%;
    line-height: 1.3;

    &:hover {
        box-shadow: 0 0 30px rgba(0,0,0,0.05);
    }

    img {
        border-radius: 50%;
        margin: 0 auto 1.5rem;
    }

    .name {
        font-weight: 600;
        font-size: 1.05rem;
    }

    .small {
        margin: 0.5rem 0 1.2rem;
        font-size: 0.875rem;
    }

    .description {
        font-size: 0.75rem;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    @media (max-width: 400px) {
        img {
            max-width: 40vw;
        }
    }
}

.modal#employee {
    .modal-dialog {
        max-width: ~"calc(100vw - 40px)";
        width: 50rem;
    }

    .image {
        img {
            border-radius: 50%;
        }
    }

    .role {
        margin-bottom: 1rem;
    }

    @media (max-width: 575px) {
        .modal-title, .role {
            text-align: center;
        }

        .image {
            img {
                margin: 0 auto 1rem;
            }
        }
    }
}

.employees-cycle {
    .slick-list {
        padding: 1rem 0.75rem;
    }

    .slide {
        padding: 0 0.75rem;
    }

    .ctrl {
        position: absolute;
        left: -0.75rem;
        top: 50%;
        font-size: 1.5rem;
        line-height: 3rem;
        height: 3rem;
        width: 3rem;
        text-align: center;
        margin-top: -1.5rem;
        text-decoration: none;
        color: #333;

        &.next {
            left: auto;
            right: -0.75rem;
        }
    }
}
