.ft-tabs {
    > .ft-nav {
        margin: 0;
        padding: 0 3rem;
        border-bottom: 1px solid #ebeef1;
        white-space: nowrap;

        > .ft-tab {
            display: inline-block;
            margin: 0 0 -1px;
            padding: 0.6rem 1rem;
            text-decoration: none;
            color: #333;
            cursor: pointer;

            &:hover {
                background: #ebeef1;
            }

            &.active {
                color: @primary_color_contrast;
                background: @primary_color;
            }
        }

        @media (max-width: 1200px) {
            padding: 0 2rem;
        }

        @media (max-width: 575px) {
            padding: 0 15px;
        }

    }

    > .ft-contents {
        padding-top: .05px;
        padding-bottom: .05px;
        position: relative;
        z-index: 1;

        > .ft-content {
            overflow: hidden;
        }

        > .ft-tab {
            display: none;
        }
    }
}

.ft-accordion {
    > .ft-nav {
        display: none;
    }

    > .ft-contents {
        > .ft-tab {
            display: block;
            cursor: pointer;
            border: 1px solid #ebeef1;
            padding: 0.5rem 1rem;
            color: #333;
            text-decoration: none;

            &.active {
                color: @primary_color_contrast;
                background: @primary_color;
                border-color: @primary_color;
            }
        }

        > .ft-content {
            padding: 1rem 0;
            overflow: hidden;
        }

        > .ft-tab-icon {
            padding-right: 3.3em;
            position: relative;

            .ft-icon {
                width: 1.6em;
                height: 1.6em;
                position: absolute;
                top: 50%;
                right: 1em;
                -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                -webkit-transition: all .2s;
                transition: all .2s;

                > svg {
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    height: 100%;
                    -webkit-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                }
            }

            &.active .ft-icon {
                -webkit-transform: translateY(-50%) rotate(180deg);
                        transform: translateY(-50%) rotate(180deg);
                fill: @primary_color_contrast;
            }
        }
    }
}
