.main-articles-list {
    .items {
        margin: 0 -0.75rem -1.5rem;

        > li {
            width: 25%;
            padding: 0 0.75rem 1.5rem;

            &.large {
                width: 50%;
                float: left;
            }
        }
    }

    .item {
        border: 1px solid #e8e8e8;
        padding: 1.2rem 1.5rem;
        transition: all 0.2s ease;

        .image {
            margin: ~"calc(-1px - 1.2rem)" ~"calc(-1px - 1.5rem)" 1rem;

            a {
                position: relative;
                display: block;
                padding-bottom: 62.5%;
            }

            span {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-position: center;
                background-size: cover;
            }
        }

        .title {
            font-weight: normal;

            a {
                text-decoration: none;
                color: #333;

                &:hover {
                    color: @primary_color;
                }
            }
        }

        .intro {
            display: none;
            margin: 1rem 0 0;
        }

        .date {
            margin: 1rem 0 0;
            font-size: 0.75rem;
        }

        &:hover {
            box-shadow: 0 0 2rem rgba(0,0,0,0.1);
        }
    }

    .large {
        .item {
            .image {
                margin-bottom: 1.5rem;
            }

            .title {
                font-size: 1.125rem;
            }

            .intro {
                display: block;
            }
        }
    }

    @supports (display: grid) {
        .items {
            grid-template-columns: 50% 25% 25%;
            grid-template-rows: 50% 50%;
            display: grid;

            > li {
                display: flex;
                width: 100%;

                &.large {
                    grid-row: ~"1/3";
                    grid-column: ~"1/2";
                    width: 100%;
                }
            }

            .item {
                display: flex;
                flex-direction: column;
                width: 100%;

                .info {
                    flex: 1 1 auto;
                }
            }
        }
    }

    @media (max-width: 767px) {
        .items {
            display: flex;
            flex-wrap: wrap;

            > li {
                width: 50% !important;
            }

            .item {
                .title {
                    font-size: 1rem;
                }

                .image {
                    margin-bottom: 1rem;
                }

                .intro {
                    display: block;
                }
            }
        }
    }

    @media (max-width: 500px) {
        .items {
            > li {
                width: 100% !important;
            }
        }
    }
}


